dist/index.html
<!DOCTYPE html><html><head><link rel="stylesheet" href="./css/syles.css"><meta charset="utf-8"><body><div class="emailContiainer"><div class="emailHeaer"><div class="emailCenter"><div class="emailHeaerTopLine"><a href="#" class="emailLogo"><img src="./img/logo.png" alt="logo"><div class="emailCocialWrap"><a href="#"><img src="./img/soc_fb.png" alt="fb"></a><a href="#"><img src="./img/soc_vk.png" alt="vk"></a><a href="#"><img src="./img/soc_twitter.png" alt="tw"></a></div></a><div class="emailHeaerTop"><h1>это лучшее предложение что вы могли получить</h1></div><a href="#" class="emailButton">Поробнее</a></div></div></div><div class="emailCenter"><div class="emailTizersWrap"><div class="emailTizersIcon"><img src="./img/icon_1.png" alt="Icon"><p>У нас лапки</p></div><div class="emailTizersIcon"><img src="./img/icon_2.png" alt="Icon"><p>И бумажные самолетики</p></div><div class="emailTizersIcon"><img src="./img/icon_3.png" alt="Icon"><p>Кроме того, у нас есть чемодан </p></div></div></div><div class="emailCenter"><div class="emailSailText">Заказывыая сейчас - получите сикдку</div><div class="emailProductsWrap"><div class="emailProductsSell emailCenter"><a href="#"><img src="./img/items/1.jpg" alt="buy"></a><div class="emailPrice">2 000 руб</div><a href="#" class="emailButton emailButtonSell">Заказать</a></div><div class="emailProductsSell emailCenter"><a href="#"><img src="./img/items/2.jpg" alt="buy"></a><div class="emailPrice">2 000 руб</div><a href="#" class="emailButton emailButtonSell">Заказать</a></div><div class="emailProductsSell emailCenter"><a href="#"><img src="./img/items/3.jpg" alt="buy"></a><div class="emailPrice">2 000 руб</div><a href="#" class="emailButton emailButtonSell">Заказать</a></div><div class="emailProductsSell emailCenter"><a href="#"><img src="./img/items/4.jpg" alt="buy"></a><div class="emailPrice">2 000 руб</div><a href="#" class="emailButton emailButtonSell">Заказать</a></div></div></div><div class="emailFooter emailCenter"><p>ООО "Компания Мира" <a href="#">Отказаться от рассылки</a></p></div></div></body></head></html>

app/index.jade
doctype html
html
		head
				link(rel="stylesheet", href="./css/syles.css")
				meta(charset="utf-8")
				body
					.emailContiainer
						.emailHeaer
							.emailCenter

								.emailHeaerTopLine
									a.emailLogo(href="#")
										img(src="./img/logo.png", alt="logo")
	
										.emailCocialWrap
											a(href="#")
												img(src="./img/soc_fb.png", alt="fb")
											a(href="#")
												img(src="./img/soc_vk.png", alt="vk")
											a(href="#")
												img(src="./img/soc_twitter.png", alt="tw")
	
									.emailHeaerTop
										h1 это лучшее предложение что вы могли получить
									a(href="#").emailButton Поробнее

						.emailCenter
							.emailTizersWrap
								.emailTizersIcon
									img(src="./img/icon_1.png", alt="Icon")
									p У нас лапки
								.emailTizersIcon
									img(src="./img/icon_2.png", alt="Icon")
									p И бумажные самолетики
								.emailTizersIcon
									img(src="./img/icon_3.png", alt="Icon")
									p Кроме того, у нас есть чемодан 
						.emailCenter
							.emailSailText Заказывыая сейчас - получите сикдку
						
							.emailProductsWrap
								-for( i = 1; i < 5; i++)
									.emailProductsSell.emailCenter
										a(href="#")
											img(src="./img/items/"+ i +".jpg", alt="buy")
										.emailPrice 2 000 руб
										a(href="#").emailButton.emailButtonSell Заказать

						.emailFooter.emailCenter
							p ООО "Компания Мира" <a href="#">Отказаться от рассылки</a>
